section.page.repos
  h4 Use the search box to filter
  .form-group.cf
    input.form-control#search(autofocus, placeholder="quick filter")
    a.suggest(href="https://github.com/AmpersandJS/tools.ampersandjs.com/issues/new") Suggest a module
  .repoList.row

