body
  .container
    nav.navbar.navbar-default(role='navigation')
      .navbar-header
        a.navbar-brand(href='#') tools.ampersandjs.com &mdash; hand-picked clientside modules installable from npm 
    section#pages
