body
  .container
    nav.navbar.navbar-default(role='navigation')
      .navbar-header.cf
        h1.navbar-brand tools.ampersandjs.com 
          span hand-picked clientside modules installable from npm
        a.button.button-primary(href="http://ampersandjs.com") Back to docs
    section#pages
  footer.footer-main
    nav.nav-footer
      a.nav-item(href="http://ampersandjs.com/learn") Learn
      a.nav-item(href="http://ampersandjs.com/docs") Docs
      a.nav-item(href="/") Find Modules
      a.nav-item(href="http://ampersandjs.com/contribute") Contribute
      a.nav-item(href="https://github.com/ampersandjs") Github
      a.nav-item(href="https://twitter.com/ampersandjs") Twitter
    p Sponsored by 
      a(href="https://andyet.com") &amp;yet 
      br
      | with the help of our 
      a(href="http://ampersandjs.com/contribute") contributors
    a.logo.logo-ampersand-gray(href="http://ampersandjs.com") &amp;
