link(rel="apple-touch-icon", href="public/images/icon-57.png")
link(rel="apple-touch-icon", sizes="72x72", href="public/images/icon-72.png")
link(rel="apple-touch-icon", sizes="114x114", href="public/images/icon-114.png")
link(rel="apple-touch-icon", sizes="144x144", href="public/images/icon-144.png")
meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0")
meta(name="apple-mobile-web-app-capable", content="yes")
